name: Package and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create "${{ github.ref_name }}" --title "${{ github.ref_name }}" --generate-notes

      - uses: BigWigsMods/packager@v2
        with:
          args: -g retail
        env:
          CF_API_KEY: ${{ secrets.CF_API_TOKEN }}
          GITHUB_OAUTH: ${{ github.token }}
